$blue: #a400ff;
$green: #5bff00;
$cyan: #00dbff;
$yellow: #ffe300;
$red: #ff2400;

$gray-100: #faf9fb;
$gray-200: #e9e8eb;
$gray-300: #eeeaf0;
$gray-400: #e4dfe7;
$gray-500: #d5ceda;
$gray-600: #b7adbd;
$gray-700: #786d7e;
$gray-800: #514856;
$gray-900: #3c3541;
$black: #28222a;

@import "v-4.5.0/bootstrap";
