$blue: #a400ff;
$green: #5bff00;
$cyan: #00dbff;
$yellow: #ffe300;
$red: #ff2400;

$gray-100: #faf9fb;
$gray-200: #e9e8eb;
$gray-300: #eeeaf0;
$gray-400: #e4dfe7;
$gray-500: #d5ceda;
$gray-600: #b7adbd;
$gray-700: #786d7e;
$gray-800: #514856;
$gray-900: #3c3541;
$black: #28222a;

$enable-responsive-font-sizes: true;

$font-family-sans-serif: "Playfair Display", serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: "Raleway", sans-serif;
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 400;

$headings-font-weight-emphasized: 500;

h1,
h2,
h3,
h4,
h5,
h6 {
  em {
    font-weight: $headings-font-weight-emphasized;
  }
}
